*{
    box-sizing: border-box;
}

:root{
    --gradient: linear-gradient(90deg, #00B0F0, #00E5DC, #7EF9C1);
    --color1: #00B0F0;
    --color2: #00E5DC;
    --color3: #7EF9C1;
    --fontcolor: #182F2C;
}
body{
    max-width: 900px;
    margin: 0 auto;
}
h1, 
h2{
    font-family: 'DM Serif Display', serif;
    color: var(--fontcolor);
}
h2{
    margin-top: 1rem;
    font-size: 1.5rem; 
    padding: 10px;
    margin-bottom: 0;
}
header{
    background-image: var(--gradient);
    height: auto;
    margin-top: 1%;
    padding: 1rem;
    text-align: center;
}
h1{
    font-size: 2rem;
    margin: 0.15rem;
}
footer{
    background-image: var(--gradient);
    font-family: 'Roboto', sans-serif;
    color: var(--fontcolor); 
    text-align: center;
    height: auto;
    padding: 20px;
}
ul{
    margin: 0 0 5% 0;

}
ul li{
    list-style-type: none;
}
a{
   width: 200px;
   text-decoration: none;
    color: var(--fontcolor);
   font-size: 1.2rem;
}
a:hover{
    background-color: var(--color1);
}
img{
    align-items: center;
    width: 200px;
    margin: 10px;
    border: 4px solid;
    border-style: outset;
    border-color: #E6F4F1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}