@media only screen and (min-width: 60em){
    header{
        padding: 0 0 0 12%;
        justify-content: flex-start;
    }
    .navi{
        padding: 0 10%;
    }
    
    main{
        margin: 0 auto;
        max-width: 960px;
    }
    .hero div{
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      width: 15em;
      height: 15em;
      padding: 1.10em;
      margin: 25px 50px 25px 25px;
      box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
  }
  .hero h3{
      height: 25px;
  }
  
  .s2{
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: 5px 5px 5px rgba(70, 69, 69, 0.2);
  }

  article{
      display: block;
  }
  .imgright{
      width: 15rem;
      height: 10rem;
      margin-top: 20px;
      padding: 10px;
      float: right;
      box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
  }
  .smedia{
      display: flex;
      justify-content: flex-start;
      margin-right: 10px;
  }
  .smedia img{
      width: 40px;
      margin-right: 10px;
      padding-left: 5px;
  }
  .contact-info{
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "map h3"
      "map list"
      "map smedia";
      column-gap: 10px;
  }
  .contact-info h3{
      grid-area: h3;
  }
  .contact-info ul{
      grid-area: list;
  }
  .map{
      grid-area: map;
      height: 120px;
      box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
  }
  .smedia{
      grid-area: smedia;
  }
  .forecast {
	display: flex;
    justify-content: space-between;
    /*border-right: 1px solid #333;*/
}

.flex-col {
	flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*border-bottom: 1px solid #333;
	border-left: 1px solid #333;*/
	text-align: center;
    transition: transform .2s;
	
}
.day-head {
	display: block;
	padding: 5px;
	/*border-bottom: 1px solid #333;*/
	text-align: center;
    font-weight: 700;
	font-size: 1rem;
	color: var(--fontcolor);
}

img {
	padding: 0.25rem;
    width: 60px;
}

.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
.gallery-container div{
    width: 100%;
    box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
}
}