@media only screen and (min-width: 672px) {
  
    .navi {
        display: flex;
        flex: auto;
        font-size: .9rem;
    }
    .navi li {
        display: block;
        flex: 1 1 auto;
        
    }
    .navi a {
        text-align: center;
    }
    .navi li:first-child {
        display: none;
    }
    /*image-gallery*/
    .gallery-container{
        grid-template-columns: 1fr 1fr;
    }
    /*storm center*/
    .form-container{
        flex-direction: row;
    }
    .side-image img{
        display: block;
    }
    form fieldset label{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    input, 
    textarea,
    select{
        flex-basis: 80%;
    }
    .danger{
        display: block;
        
    }
    
}
