@media only screen and (min-width:769px){
    header{
        /*padding: 0 0 0 %;*/
        justify-content: flex-start;
    }
  .head div{
      font-size: 1.2rem;
  }
    .hero div{
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      width: 16em;
      height: 15em;
      padding: .75em;
      margin: 5%;
      box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
  }
  .hero h3{
      height: 25px;
  }
  
  .s2{
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: 5px 5px 5px rgba(70, 69, 69, 0.2);
  }

  article{
      display: block;
  }
  .imgright{
      width: 40%;
      
      padding: 10px;
      float: right;
      box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
  }
  .smedia{
      display: flex;
      justify-content: flex-start;
      margin-right: 10px;
  }
  .smedia img{
      width: 40px;
      margin-right: 10px;
      padding-left: 5px;
  }
  .contact-info{
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "map h3"
      "map list"
      "map smedia";
      column-gap: 20px;
      box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.2);
      clear: both;
  }
  .contact-info h3{
      grid-area: h3;
  }
  .contact-info ul{
      grid-area: list;
  }
  .map{
      grid-area: map;
      height: 120px;
      box-shadow: 10px 10px 10px rgba(70, 69, 69, 0.2);
  }
  .smedia{
      grid-area: smedia;
  }
  .forecast {
	display: flex;
    justify-content: space-between;
    /*border-right: 1px solid #333;*/
}

.flex-col {
	flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*border-bottom: 1px solid #333;
	border-left: 1px solid #333;*/
	text-align: center;
    transition: transform .2s;
	
}
.day-head {
	display: block;
	padding: 5px;
	/*border-bottom: 1px solid #333;*/
	text-align: center;
    font-weight: 700;
	font-size: 1rem;
	color: var(--fontcolor);
}

img {
	padding: 0.25rem;
    width: 60px;
}


  }