*{
    box-sizing: border-box; 
 }
 :root{
     --gradient: linear-gradient(90deg, #00B0F0, #00E5DC, #7EF9C1);
     --color1: #00B0F0;
     --color2: #00E5DC;
     --color3: #7EF9C1;
     --fontcolor: #182F2C;
     --nav: linear-gradient(90deg, #7EF9C1, #00E5DC);
 }
 img{
     width: 100%;
     overflow: hidden;
 }
 body{
     font-family: 'Montserrat', sans-serif;
     max-width: 960px;
     margin: 0 auto;
     background-color: #E2FFFC;
 }
 header{
     display: flex;
     align-content: center;
     background-image: var(--gradient);
 }
 header img{
     width: 60px;
     padding: 10px;
 }
 .head{
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-weight: 600;
     font-family: 'Merriweather', serif;
 }
 .moto {
     font-style: italic;
     font-size: .7rem;
 }


 nav{
     margin: 0;
     background-image: var(--nav);
     
 }
 .navi{
     list-style: none;
     padding: 0;
     margin: 0;
 }
 .navi li:first-child {
     display: block;
 }
 .navi li {
     display: none;
 }
 .navi a {
     display: block;
     padding: 0.75rem;
     text-align: left;
     text-decoration: none;
     color: var(--fontcolor);
     font-weight: 600;
     transition: 0.5s;
 }
 .navi a:hover {
     color: white;
     background-color: var(--color1);
 }
 .navi .active{
     color: white;
 }
 .responsive li {
     display: block;
 }
 h1, h2, h3{
     padding: .2em;
     margin: 0;
     font-family: 'Merriweather', serif;
 }
 
 main{
     margin: 0;
     display: block;
     
 }
 main img{
     width: 100%;
     overflow: hidden;
 }
 .hero{
     display: flex;
     flex-direction: column;
     padding: 10px;
     box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.2);
 }
 .hero div{
     list-style: none;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     "title title"
     "label1 currentWeather"
     "label2 highTemp"
     "label3 windChill"
     "label4 humidity"
     "label5 windSpeed";
     column-gap: 5px;

 }
 .hero h3{
     margin: 5px 0;
     grid-area: title;
     place-items: center;
     font-size: 1.25em;
 }
 .label1{grid-area: label1;}
 .label2{grid-area: label2;}
 .label3{grid-area: label3;}
 .label4{grid-area: label4;}
 .label5{grid-area: label5;}
 .currentWeather{grid-area: currentWeather;}
 .highTemp{grid-area: highTemp;}
 .humidity{grid-area: humidity;}
 .windSpeed{grid-area: windSpeed;}
 .windChill{grid-area: windChill;}
 .s2 h3{
     background-color: var(--color3);
     padding: 10px;
     box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.2);
     text-align: center;
 }
 article{
     display: grid;
     grid-template-columns: 1fr;
     justify-content: left;
     grid-template-areas: 
     "title"
     "article"
     "img";
     padding: 10px;
     box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.2);
 }
 article h3{
     grid-area: title;
 }
 article p{
     grid-area: article;
 }
 article img{
     grid-area: img;
 }
 .map{
     width: 100%;
     overflow: hidden;
     padding: 10px;
 }
 footer{
     background-image: var(--gradient);
     padding: 10px;
 }
 .contact-info ul{
     list-style-type: none;
     text-align: left;
     padding: 5px;
     margin: 0;
 }
 .contact-info ul h3{
     padding: 0;
     margin: 0;
 }
.footbar{
     text-align: center;
 }
 .smedia{
     display: none;
 }
#pansched{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    padding: 10px 25%;
    font-size: 1.25rem;
    background-color: #E2FFFC;
    
}

.flex-col img{
    width: 60px;
    padding: .25rem;
}
.forecast{
    display: none;
}
.flex-col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.day-head{
    font-weight: bold;
	font-size: 1rem;
    color: var(--fontcolor);
}
.flex-col{
    border-right: none;
    
}
.flex-col:nth-child(5){
    border-bottom: none;
}
.flex-col:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2); 
}
.temp {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}
.resForecast{
    display: block;
}