@media only screen and (min-width:769px){
    header{
        /*padding: 0 0 0 12%;*/
        justify-content: flex-start;
    }
    .navi {
        display: flex;
        font-size: .9rem;
        position: absolute;
        top: 15px;
        right: 15px;
    /* padding: 0 10%;*/
    }
    .navi li {
        display: block;
        flex: 1 1 auto;

        
    }
    .navi a {
        text-align: center;
    }
    .navi li:first-child {
        display: none;}
    
    /*directory*/
    .directory,
    .gridview{
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*matsusaka*/
    .stayMatsu{
        flex-direction: row;
    }
    .scontainer{
        flex-direction: row;
    }
    .imgright {
        float: right;
        width: auto;
        margin-right: 1rem;
        padding: 15px;
    }
    .imgleft{
        float: left;
        margin: 1rem;

    }
    img.matsubeefright {
        float: right;
    }
 .foot{
     display: flex;
 }
 .ads{
     flex-direction: row;
 }
 .matsu-home{
     flex-direction: row;
     gap: 1rem;
 }
 .purpose{
    flex-direction: row;
 }
}    
