@media only screen and (min-width: 426px){
    /*.board{
        
        grid-template-columns: 1fr 1fr 1fr;

    }*/
    .board{
        flex-direction: row;
    }
    .c-container{
       flex-direction: row;
    }
    .map{
        grid-area: map;
        padding-top: 20px;
        justify-content: right;
    }
    .contact-info{
        grid-area: contact-info;
    }
    .socialM{
        grid-area: socialM;
    }*/
    /*contact*/
    .info{
        flex-direction: row;
    }
    label{
        flex-grow: 0;
        flex-shrink: 0;
    }
    input{
        width: 100%;
    }
    .inputBtn{
        width: 9rem;
    }
    /*directory*/
    .directory,
    .gridview{
        grid-template-columns: 1fr 1fr;
    }
    .list{
        display: block;
    }
  
    .foot{
        flex-direction: row;
        gap: 15px;
    }
    .weatherEvcon{
        flex-direction: row;
    }
}