*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
   
    --body: #EFFAFF; 	
    --nav: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    --color1: #00B0F0;
    --gradient1: #2a2a72;
    --color4: rgb(0,94,184);
    --color5: #F97A9A;
    --overlay: radial-gradient(circle,rgba(7, 7, 7, 0.7),rgba(0, 0, 0, 0.7));

}
h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
   /* box-shadow: 5px 5px 10px rgb(70 69 69 / 20%);
    border-radius: 5px;
    margin: 5px;*/
}
body{
    font-family: 'Roboto Slab', serif;
    min-width: 355px;
    background-color: var(--body);
    max-width: 1980px;
    margin: auto;
}
main{
    margin: auto;
}
.head div{
    font-size: 1.25rem;
}
header{
    display: flex;
    justify-content: left;
    background-image: var(--nav);
    padding: 10px;
}
header img{
    width: 65px;
    padding: 10px;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: black;
}
.moto {
    font-style: italic;
    font-size: .7rem;
}

.headerNav{
   position: relative;
}
.menuBtn{
   position: absolute;
   top: 15px;
   right: 15px;
   font: .8rem;

}
nav{
    margin: 0;
    background-image: var(--nav);
    
}
.navi{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navi li:first-child {
    display: block;
}
.navi li {
    display: none;
}
.navi a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    font-size: 1.1rem;
}
.navi a:hover {
    color: white;
    background-color: var(--color5);
   
}
.navi .active{
    color: white;}
.responsive li {
    display: block;
}
footer{
    background-image: var(--nav);
    color: black;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    min-width: 342px;
    clear: both;
}
footer a{
    color: black;
}
.contact-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
}
.con-title{
    font-weight: bold;
    font-size: 1.3rem;
}
.socialM {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 18px;}
.copy{
    padding: 3% 0;
}
.c-container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.map iframe{
    width: auto;
}
contact-info span,
.con-title{
    padding: 10px;
}
.hero-sub{
    background-image: var(--overlay), url(../images/contact-banner.avif);
    
}
.hero-submatsusaka{
    background-image: var(--overlay), url(../images/sub-form.avif);
}
.hero-contact{
    background-image: var(--overlay), url(../images/directory.jpg)
}
.matsu-home{
    background-image: var(--overlay),url(../images/matsu-home.jpeg);
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.hero-contact,
.hero-sub,
.hero-submatsusaka{
    width: 100%;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sub-title{
    position: absolute;
    color: black;
    font-size: 3rem;
    top: 35%;
    left: 5%;
}
.foot{
    display: flex;
    flex-direction: column;
}
.foot >*{
    flex: 1;
}
/*home*/
.weatherEvcon{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.weatherEvcon >*{
    flex: 1;
    width: 100%;
}
/*matsusaka*/
.matsuDesc p {
    line-height: 1.5rem;
    margin-top: .8rem;
}
article{
    padding: 2.5rem;
    align-items: center;
    padding-top: 0;
}
article img{
    background: white;
}
article h2{
    margin: 1rem;
    font-size: 2rem;
}
.scontainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    flex-wrap: wrap;
}

.currentW{
    background-color: var(--color2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'img temp'
    'img temp'
    'desc hum';
    align-items: center;
    padding: 5px;
    /*border: 1px solid #63a4ff;*/
    border-radius: 5px;
}
.currentemp{grid-area:temp;
font-size: 3rem;}
.hum{grid-area: hum;}
.desc{grid-area: desc;}
.fore-col{
    width: 100%;
}
.fore-col .col:nth-child(odd){
    background-color: #63a4ff;
}
.weather{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #83eaf1;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}
.weather img{
    background: white;
    width: 80px;
}
.temp{
    font-size: 1.5rem;
}
.humicon{
    width: 10px;
}
.col{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.event{
    padding: 1rem;
    border: 1px solid;
    border-radius: 5px;
    box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.evenCal{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    
}
.edesc{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.eDate{
    background-image: var(--nav);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 3rem;
    
}
.day{
    font-size: 2rem;
    font-weight: bolder;
}
.eName{
    font-size: 1.5rem;
    font-weight: 500;
}
.stayMatsu {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
}
.stayMatsu div{
    display: flex;
    flex-direction: column;
}
.stayMatsu div img{
    height: 250px;
}

img.imgright {
    margin: 0 auto;
    align-items: center;
}



.directory,
.gridview{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 80%;
    padding: 1rem;
    gap: 10px;
}
.gridview section,
.directory section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--color2);
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border-radius: 10px;
    width: 100%;
    height: auto;
   margin: 0 auto;
   gap: 5px;
}
.gridview section img,
.directory section img{
   place-self: center;
   width: 100px;
   background-color: white;
}
.listview{
    display: grid;
    grid-template-columns: 1fr;
   margin: 0 auto;
   gap: 10px;
   padding: 1rem;
}
.listview section{
    display: grid;
    grid-template-columns: 100px 1fr .75fr .5fr;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    align-items: center;
    justify-items: left; 
    width: 80%; 
    margin: auto;
    border-radius: 5px;
    gap: 10px;
    padding: 5px;
}

.view{
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 300px;
    font-size: .7rem;
}
.list{
    display: none;
}
.grid,
.list{
    cursor: pointer;
}
/*contact*/
.section-sub{
    width: 100%;
    margin: auto;
    text-align: center;
    height: auto;
    padding: 1rem;
   
}
.section-sub h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.board{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.board div img{
    margin: 10px auto;
    background: white;
}
.board div{
    text-align: center;
    background-image: var(--nav);
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    flex-basis: 32%;
    display: flex;
    flex-direction: column;

} 
.chair-p{
    font-size: .8rem;
}
.chair-n{
    font-size: 1rem;
}
.section-form{
    background-image: linear-gradient(var(--color5), var(--color5)), url(../images/sub-form.avif);
    color: white;
}
.section-form h3{
    padding: 10px;
    font-size: 1.2rem;
}
textarea{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    
}
form{
    width: 70%;
    margin: auto;
    padding: 1rem;
}


.inputBtn{
    padding: 10px;
    font-weight: 600;
    background-image: var(--nav);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}
input{
    font-size: 1rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
input:focus{
    border: 1px solid #63a4ff;
}
form {
    padding: 10px;
}
fieldset {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex-basis: 100%;
    background-image: var(--nav);
    border: none;
}
fieldset legend {
    font-size: 1.6rem;
    font-weight: 600;
}
.info select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    
}
/*thanks*/
.thanks{
    padding: 50px;
    text-align: center;
}
/*home*/
.ad-text{
    margin-left: 3.8rem;
}
.ads{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-ad{
    align-content: center;
}
.matsu-home{
    display: flex;
    padding: 5rem;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.home-text{

}
.home-text h1 {
    margin-top: 0;
    width: 400px;
    font-size: 3rem;
}
.hometext2 {
    width: 400px;
    font-size: 1.3rem;
}
a.btn {
    color: black;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 24px;
    display: inline-block;
    margin: 10px;
    background-image: var(--nav);
    border-radius: 5px;
}
.purpose{
    display: flex;
    padding: 1rem 3rem;
    flex-direction: column;
}
.purpose img{
    background: var(--color1);
    width: 500px;
}
.purpose >*{
    flex: 1;
}
.purpose div{
    padding: 2rem;
}
.purpose div p {
    font-size: 1.3rem;
    margin-top: 1rem;
}
.purpose div h2{
    font-size: 36px ;
}
.benefit{
    margin: auto;
    padding: 1rem 16%;
}
.benefit p{
    margin-top: .8rem;
}